/* .twoThirdsiPadMain {
    display: block;
    width: 66.66666666%;
    min-height: 100vh;
    background: grey;
}

.videoFrame {
    padding-top: 62%;
    width: 90%;
    float: left;
    margin: auto;
    position: relative;
    display: block;
    overflow: hidden;
}

.twoThirdsipadResize {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}    */