.twoThirdsiPadMain {
    width: auto;
    min-height: 100vh;
    background:#fff;
    width: 66.6666vw;
    display: flex;
    align-items: center;
}

.videoFrame {
    border: solid black 55px;
    border-radius: 55px;
    width: 90%;
    height: 74vh;
    box-sizing: border-box;
    fill: rgb(33, 33, 33);
}

.twoThirdsipadResize {
    overflow: hidden;
}   