.case_parent {
    display: flex;
    flex-direction: row;
    min-width: 1200px;
    min-height: 100vh;
    /* margin-left: -100vw; */
}

/* .oneclick {
    margin-left:100vw;
    transform: 4s
}

.twoclick {
    margin-left: -200vw;
}

.threeclick {

    margin-left: -300vw;
} */


.content {
    cursor: pointer!important;
}
.contentEditor {
    cursor: pointer!important;

} 

.case_header {
    height: 300px;
    width: 400px;
    color: white;
    text-align: left;
    letter-spacing: .03em;
    position: absolute;
    top: 62%;
    margin-left: 3rem;
    font-family: 'Circular', sans-serif;
    font-weight: 100;
    transition: 0.5s all ease;
}

.case_header h1{
    font-size: 3.125rem;
    font-weight: 600;
    letter-spacing: .09rem;
    /* margin-bottom: 80px; */
    transition: 0.5s all ease;
}

.case_header>p {
    font-weight: bold;
    font-size: 20px;
}

.blurb {
    overflow: hidden;
    height: 0px;
    transition: 0.5s all ease;
    margin-top: 10px;
    line-height: 30px;
}

.content:hover .case_header {
    transition: 0.5s all ease;
    top: 54%;
    margin-bottom: 0;
    /* transform: matrix(1,0,0,1,0,0); */
    /* transform: translate(-20) ease;  */
}

.content:hover .blurb {
    margin-top: 0;
    transition: 0.5s all ease;
    height: 120px;
}
/* 
.content:hover:after .case_header {
    transition: 0.5s all ease;
    top: 65%;
} */

.images {
  position: relative;
  width: 33.333vw;
  height: 100vh;
  overflow: hidden;
  /* display: flex;
  align-items: center; */
  
} 

.pic {
    height: 100%;
    width: auto;
    
    /* text-indent: -1070px */
       /* margin-right: -150px; */
    /* display: flex; */
}
.images0{

    text-indent: -47%;
    
}
.images1{
    text-indent: -17%
}

.images2{
    text-indent: -95%
}
.images3{
    text-indent: -93%
}
.images4{
    text-indent: -42%
}
.images5{
    text-indent: -98%
}
.images6{
    text-indent: -24.25%
}
.images7{
    text-indent: -114.0%
}
.images8{
    text-indent: -84%;
}
.images9{
    text-indent: -30%;
}
.images10{
    text-indent: -10%;
}
.images11{
    text-indent: -90%;
}
.images12{
    text-indent: -77%;
}

.case_item {
    z-index: 3;
    /* display: inline; */
    /* position: relative; */
    /* overflow: hidden; */
   
}

  /* .case_item:after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: #000;
    height: 1.65px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  .case_item:hover:after,
  .case_item:focus:after,
  .case_item:active:after {
    right: 0;
  } */

/* .case_item>.case_header:hover{
    color: green;
} */
/* .case_item>div>h1:hover{
    color: green;
} */
/* .case_header>h1:hover {
    color: purple;
} */

.left_arrows {
    position: fixed;
    min-width: auto;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
    fill: #fff;
}

.circle_left {
    display: flex;
    align-items: center;
    background: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 45px;
    opacity: .3;
    cursor: pointer;
} 
/* 
.circle_left:hover:before .circle_left:hover:after {
    background: black;
}

.circle_left:before {
    content: '';
    display: flex;
    align-items: center;
    background: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 60px;
    opacity: .3;
}

.circle_left:after {
    display: flex;
    align-items: center;
    background: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 60px;
} */

.right_arrows {
    position: fixed;
    min-width: auto;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    margin-left:1830px;
    /* margin-left:1530px; for non-responsive */
    fill: #fff;
    transition: 0.6s ease-in;
}

.right_arrows::after {
    transition: cubic-bezier(.19,1,.22,1)
}

.circle_right {
    cursor: pointer;
    background-color: black;
    opacity: .22;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 45px;
    z-index: 4;
    transition: .4s transform cubic-bezier(.19,1,.22,1),.6s opacity cubic-bezier(.19,1,.22,1);
    transition-property: transform, opacity;
    transition-duration: 0.4s, 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: initial, initial;
    transform: translate3d(0,0,0);
}

/* .circle_right right-next {
    left: 2.188rem;
} */

.circle_right:hover {
    cursor: pointer;
    background-color: black;
    opacity: .9;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 45px;
    z-index: 4;
    transition: .4s transform cubic-bezier(.19,1,.22,1),.6s opacity cubic-bezier(.19,1,.22,1);
    transition-property: transform, opacity;
    transition-duration: 0.4s, 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: initial, initial;
    transform: translate3d(0,0,0);
}

.circle_right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    background: #000;
    opacity: .22;
    transition: .4s opacity cubic-bezier(.19,1,.22,1);
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    transition-delay: initial;
}

.right_drawer {
    transform: translateX(100%);
    white-space: nowrap;
    height: 45px;
    border-radius: 45px;
    /* transition: .4s transform cubic-bezier(.19,1,.22,1),.4s background-color ease;
    transition-property: transform, background-color; */
    /* transition-duration: 0.4s, 0.4s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1), ease;
    transition-delay: initial, initial; */
    opacity: 0;
}

.right_drawer:hover {
    transform: translateX(100%);
    white-space: nowrap;
    height: 45px;
    border-radius: 45px;
    transition: transform .4s; 
    transform: cubic-bezier(.19,1,.22,1),.4s background-color ease;
    transition-property: transform, background-color;
    transition-duration: 0.4s, 0.4s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1), ease;
    transition-delay: initial, initial;
    opacity: 1;
}

.right_drawer_inner {
    background-color: rgba(0,0,0,.22);
    transform: translateX(-100%);
    border-radius: 45px;
    padding: 13px 55px 14px 25px;
    color: #fff;
    font-family: Cirular, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    transition: .4s transform cubic-bezier(.19,1,.22,1),.4s background-color ease;
    transition-property: transform, background-color;
    transition-duration: 0.4s, 0.4s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1), ease;
    transition-delay: initial, initial;
    transform: scaleX(100px);
    display: inline-block;
}

.right_arrow {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    top:12px;
    left: 12px;
    transition: .4s background-color ease;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: initial;
}
.edit_input{
font-family: 'Circular', sans-serif;
color: white;
padding: .25rem;
background: transparent;
text-decoration : none;
border: none;
width: 400px;
}

.e_brand{
    font-size: 3.125rem;
}

.button_group{
/* width: 200px; */
display: flex; 
 /* flex-wrap: wrap; */
justify-content: flex-end; 
position: absolute;
z-index: 3;
width: 33vw;
}

::placeholder{
    color: white
}

.button{
    margin: 3rem;
}
