.case_parent {
    display: flex;
    flex-direction: row;
    min-width: 1200px;
    min-height: 100vh;
}

.content {
    cursor: pointer!important;
    /* height: 100vh; */
    /* width: 170%; */
} 

.images {
  position: relative;
  width: 33.333vw;
  height: 100vh;
  overflow: hidden;
  /* display: flex;
  align-items: center; */
  
} 

.pic {
    height: 100%;
    width: auto;
    
    /* text-indent: -1070px */
       /* margin-right: -150px; */
    /* display: flex; */
}
.images0{

    text-indent: -47%;
    
}
.images1{
    text-indent: -17%
}

.images2{
    text-indent: -95%
}
.images3{
    text-indent: -93%
}
.images4{
    text-indent: -42%
}
.images5{
    text-indent: -98%
}
.images6{
    text-indent: -24.25%
}


.case_item {
    z-index: 3;
   
}
 

.case_header {
    height: 300px;
    width: 400px;
    color: white;
    text-align: left;
    letter-spacing: .03em;
    position: absolute;
    top: 65%;
    margin-left: 3rem;
    font-family: 'Circular', sans-serif;
    font-weight: 100;
}

.case_header h1{
    font-size: 3.125rem;
    
    font-weight: 500;
    letter-spacing: .09rem;
}

.blurb {
    overflow: hidden;
    height: 0px;
}

/* .case_item>.case_header:hover{
    color: green;
} */

/* .case_header>h1:hover {
    color: purple;
} */

.left_arrows {
    position: fixed;
    min-width: auto;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
    fill: #fff;
}

.circle_left {
    display: flex;
    align-items: center;
    background: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 60px;
    opacity: .3;
} 

.right_arrows {
    position: fixed;
    min-width: auto;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    margin-left:1830px;
    fill: #fff;
}

.circle_right {
    display: flex;
    align-items: center;
    background: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 60px;
    opacity: .3
} 

