@keyframes opac {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes opacOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* @keyframes slideOut {
    from { 
        background: black;
        transform: translate()
    }
    to { 
        background: transparent;
    
    }
} */
@keyframes mymove {
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
}
.main {
    width: stretch;
    height: stretch;
    display: flex;
    /* position: fixed; */
    flex-direction: row;
    justify-content: center;
    /* z-index: -10; */
    /* background: black; */
    /* animation-name: opac; */
    /* animation-duration: 2s; */
    /* background-color: black; */
    color: white;
}
.fadeForNow {

    width: stretch;
    height: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    animation-name: opac;
    animation-duration: 2s;
    background-color: black;
    color: white;
}
.fadeOut {
    width: stretch;
    height: stretch;
    animation-name: opacOut;
    animation-duration: 2s;
    background-color: black;
    color: white;
}
.blinds {
    height: stretch;
    width: 33.333vw;
    background: black;
    border: white 1px solid;
    z-index: 1;
}
.slideOut {
    width: stretch;
    height: stretch;
    /* animation-name: slideOut; */
    animation-name: mymove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 0;
    /* transition: 2s ease all; */
    background-color: black;
    display: none;
    color: white;
}

.indexed {
    /* z-index: -1; */
    /* visibility: hidden; */
    display: none;
}
.indexShow {
    display: initial;
}
/* .textSpaceLoad {
    text-align: left; */
/* } */

.loadingText {
    position: fixed;
    /* margin-left: 10vw; */
    text-align: left;
    /* margin-top: 0; */
    bottom: 6vh;
    z-index: 2;
}

.loadingTextLine2 {
    position: fixed;
    /* margin-left: 10vw; */
    text-align: left;
    /* margin-top: 0; */
    bottom: 2vh;
    z-index: 2;
}