.logo-outer{
   position: absolute;
   width: 174px;
   height: 71px;
   font-family: 'Circular', sans-serif;
   text-align: left;
   font-size: 1.2rem;
   font-weight: 600;
   letter-spacing: .03rem;
   margin: 40px 0 0 50px;
}