.oneThirdCaptPicMain{
    width: 33.3333vw;
    height: 100vh;
  
    display: inline-block;
}
.oneThirdCaptPicResize{
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.oneThirdCaptPicResize img{
    width: 100%;
}

.captionContain{
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.oneThirdCapt {
    padding: 100px;
    max-width: 49%;
    text-align: left;
    font-family: 'Circular',sans-serif;
    font-size: 1rem;
    letter-spacing: .03rem;
}

.oneThirdCapt p{
    line-height: 1.563rem;
}

