.border {
    border: 1px solid black;
}

.topAreaMain {
    font-family: 'Circular', sans-serif;
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    height: 600vw;
    /* background: pink; */
}

/* .topBgPicTitleArea{ */
    /* background: lightblue; */

/* } */

/* .parallaxTopArea { */
    /* background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white; */
    /* width: 100%; */
    /* background-size: 50% */
    /* background-size: 100% 100%; */
    /* height: 100%; */
    /* background-position: center; */
    /* display: inline-block; */
/* } */

.topTitleText {
    color: white;
    font-size: 150px;
    font-weight: 550;
    /* margin-bottom: 90vh; */
    margin-top: 76vh;
    /* padding-bottom: 20vh; */
    text-align: left;
    margin-left: 5vw;
    margin-right: 20vw;

    /* padding-bottom: 500; */
}

.secondTopAreaMain {
    width: 100%;
    min-height: 100vh;
    /* background: gray; */
    display: flex;
    flex-direction: row;
    text-align: left;
}

.secondLeftTop {
    /* width: 50%; */
    width: 70%;
    min-height: 100vh;
    /* background: beige; */
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 300px;
    padding-bottom: 70px;
}

.topQuoteBlockStyle {
    font-size: 24px;
    font-stretch: 100%;
    box-sizing: border-box;
}

.secondRightTop {
    width: 30%;
    height: 950px;
    line-height: 24px;
    font-size: 16px;
    display: table-cell;
}

.secondRightInnerTop {
    margin-top: 20vh;
    margin-left: 5vw;
}
.secondRightInnerTop>h3, p {
    margin-bottom: 0;
    margin-top: 0;
}

@media screen and (max-width: 560px){
.topTitleText {
    font-size: 20px;
    margin-right: 0;
}

}