@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500');
 
.hide{ /* This is an animation applied to the hide object, so that the hide when being used will not stop the outgoing animations. */
    animation-name: slowerHeightHide;
    animation-duration: 2.01s;
    animation-fill-mode: ease;
    animation-iteration-count: initial;
}
@keyframes slowerHeightHide { /* Until a millisecond before the animation cycle is complete, the height of the menu will remain the same during the output animation. */
    0% {
        height: 100vh;
    }
    99% {
        height: 100vh;
    }
    100% {
        height: 0vh;       
    }
}
.menu{ /* This is the main menu prop that is passed down with hide into the menu.js page. It is referenced in both the MainButton.js and Menu.js */
    font-family: 'Circular', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: .03rem;
    overflow: hidden;
    transition: 1s all ease;
    text-align: left;
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fbf9f6;
    z-index: 2;
    
}
.menu h1{ /* This manipulates any h1 tags in the menu class. */
    font-size: 3.75rem;
    font-weight: 550;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    top: 14px;
} 
.flexRMen { /* This is a subclass I made but may not be used right now. TODO: Could be deleted potentially if not being used.  */
    display: flex;
    flex-direction: row;
}
.menu-bar{ /* The first panel on the left of the menu */
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    min-width: 33%;
}

.menu-text{ /* Text sizing using throughout all menu text */
    height: 80px;
    max-width: 300px;
    line-height: 1.5rem;
}
.outerMenuThirdBox { /* This is a div that is included so that when collapsing width on the animated div, the animated div will stay in the location that it's supposed to and not 'accordian' out. */
    width: 33.333333vw; 
    height: 100vh; 
    background: transparent;
}
.cases{ 
    background-color:#1F1F21;
    height: 100vh;
    width: 33.333333vw;
    overflow: hidden;
}
.enter {
    float: left;
}
.leave {
    float: right;
}
.slideInMenu {
    animation-name: slideInToRight;
    animation-duration: 2s;
    animation-fill-mode: ease;
    animation-iteration-count: initial;
}
.slideOutMenu {
    animation-name: slideOutToRight;
    animation-duration: 2s;
    animation-fill-mode: ease;
    animation-iteration-count: initial;
}
@keyframes slideInToRight {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes slideOutToRight {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
.menu-about{
    background-color:#171718;
    height: 100vh;
    width: 33.333333vw;
    overflow: hidden;
}
.contact{
    background-color:#000000;
    height: 100vh;
    width: 33.3333333vw;
    overflow: hidden;
}
.main-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 40px 35px 0 0;
    width: 45px;
    height: 45px;
    cursor: pointer;  
}
.underline {
    display: inline;
    position: relative;
    overflow: hidden;
    z-index: 3;
}
.underline:after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -2px;
    background: #fbf9f6;
    height: 1.45px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}
.h1ContainerMenu {
    height: 80px;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.text-expand {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s all ease;
}
.menu-bar:hover .h1Con  {
    animation: peekaSlide;
    animation-duration: 0.4s;
    animation-play-state: inherit;
}
.menu-bar:hover:focus:after .h1Con:hover:focus:after  {
    animation: peekaSlideReverse;
    animation-duration: 0.4s;
    animation-play-state: initial;
}
@keyframes peekaSlide {
 0% {
    top: 14px;
}
25% {
    top: 100px;
    left: 0px;
}
30% {
    top: 100px;
    left: 300px;
}
40% {
    top: -100px;
    left: 300px;
}
60% {
    top: -100px;
    left: 0px;
}
100% {
    top: 14px;
    left: 0px;
 }
}
@keyframes peekaSlideReverse {
    0% {
        top: 14px;
        left: 0px;
    }
     25%{
         top: 100px;
         left: 300px;
    }
     30% {
         top: -100px;
         left: 300px;
    }
     40% {
         top: -100px;
         left: 0px;
    }
     60% {
         top: 100px;
         left: 0px;
    }
    100% {
        top: 14px;
    }
}
.menu-bar:hover,
.menu-bar:focus .h1ContainMenu .h1Con {
    transform: translateY(-120px);

}
.menu-bar:hover .text-expand {
    height: 120px;
    transform: translateY(-20px);
    transition: 1s all ease;
    opacity: 1;
}
.menu-bar:hover:after .h1ContainMenu .h1Con {
    transition: 1s ease all;
    transform: translateY(0px);
}
.boldPTag {
    font-weight: bold;
}