.mainBoxAbout {
    font-family: 'Circular', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
    /* overflow: hidden; */
    /* align-items: flex-start; */
}

.leftSideTopSlideAbout {
    overflow: hidden;
    height: 100vh;
    width: 630px;  
    position: sticky;
    top: 0px;
    bottom: 1080px;
}

.rightSideTextTopAbout {
    padding-right: 2.988rem;
    padding-top: 40vh;
    width: 60vw;
    margin-left: 32vw;
    /* height: auto; */
    /* height: 90vh; */
    padding-bottom: 6.25rem;
    padding-left: 6.25rem;
    position: fixed;
    top:0;
    z-index: -1;
    
}

.about-text{
    width: 100%;
    
    /* display: flex;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start; */
   
}

.titleHeadAbout {
    /* height: 120px; */
    width: 1132px;
    
    margin-bottom: 150px;
    /* max-width: 100%; */
    font-size: 3.125rem;
    line-height: 3.75rem;
    letter-spacing: .07rem;
}

.strategy-contain{
    display: flex;
    align-items: flex-start;

}

.strategy{
    height: 189px;
    width: 33.3vw;
    margin-bottom: 1em;
    font-size: 1rem;
    letter-spacing: .04rem;
    line-height: 1.688rem;
    padding-right: 20px;
}

.strategy h2{
    font-size: 1.875rem;
    line-height: 2.625rem;
    
}

.size-about{
    height: 100vh;
    background-color:#171719;
    width: 100%;
}

.about{
    color: #fbf9f6;
    /* height: 100vh; */
    width: 60vw;
    padding:200px 50px 100px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   /* background-color:#171719; */
   margin-left: 33.3vw;
}

.builders{
    background-color:#171719;
    color: white;
    width: 100vw;
    /* height: 100vh; */
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
}

.brands{
    text-align: center;
    width: 100vw;
    display: flex;
   justify-content: space-between;
   align-items: flex-start;
   background-color: #171719;
}

.about p{
    width: 550px;
    margin-bottom: 1em;
    text-align: justify;
    line-height: 1.688rem;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .04rem;
}

.about h1{
    font-weight: 500;
    /* line-height: 3.75rem; */
    font-size: 3.125rem!important;
    margin-bottom: 50px;
    margin-top: 0;
    margin-left: 50px;
    letter-spacing: .07rem;
}

.builders h1{
    padding: 6.25rem;
    font-weight: 500;
    /* line-height: 3.75rem; */
    font-size: 3.125rem!important;
    margin-bottom: 50px;
    margin-top: 0;
    letter-spacing: .07rem;
}

.about h2{
    letter-spacing: .06rem;
    font-size: 1.875rem!important;
    margin-bottom: 30px;
}

.about-content{
    margin-top: 50px;
}

.brand-title{
    width: 100%;
    justify-content: center;
    margin: 100px 0;
    
}

.brand-title h1{
    font-weight: 200;
    font-size: 3.125rem;
    line-height: 4.063rem;
    color: #fbf9f6;
    font-family: 'Circular', sans-serif;
    margin:0;
}

.brands{
    padding: 15vh 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* text-align: left; */
    flex-wrap: wrap;
    /* align-items: flex-end; */
}

.brandIcons{
    width: 33.3333%!important;
    padding: 100px 0;
}

.brandIcons img{
    max-width: 200px!important;
}

/* .slick-arrow slick-next{
    height: 40px;
    width: 40px;
    color: hotpink;
    z-index: 3;  
} */
